/TesteConfiguracao/nbproject/private/
/TesteConfiguracao/build/
/Heranca/nbproject/private/
/Heranca/build/
/Exercicio126/nbproject/private/
/Exercicio126/build/
/Aula127/nbproject/private/
/Estoque/nbproject/private/
/Estoque/build/